body{
    background-color: black;
}
#container{
    min-height: 300px;
    position:relative;
}
#clock{
    text-align: center;
    font-size: 70px;
    background-color:blanchedalmond;
    color:cadetblue;
    min-width: 400px;
    padding: 5px;
    margin:auto;
    left: 35%;
    border-radius: 10px;
    border: 10px double cyan;
    position: absolute;
}